<P><font face="Arial, Helvetica, sans-serif"><IMG SRC="images/home.GIF" WIDTH="33" HEIGHT="16" ALIGN="BOTTOM" NATURALSIZEFLAG="3" BORDER="0"></font></P>
<BLOCKQUOTE> 
  <P><font face="Arial, Helvetica, sans-serif"><FONT SIZE="-1"><IMG SRC="images/amazon2.gif" WIDTH="88" HEIGHT="31" ALIGN="BOTTOM" BORDER="0" NATURALSIZEFLAG="3"></FONT></font></P>
</BLOCKQUOTE>
<P> 
  <CENTER>
    <FONT SIZE="+2" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif">BOOK REVIEW</FONT> 
  </CENTER>
</P>
<P> 
  <CENTER>
    <font face="Arial, Helvetica, sans-serif"><FONT SIZE="-1" style="font-family: Arial, Helvetica, sans-serif">Return 
    to index of reviews</FONT></font> 
  </CENTER>
</P>
<BLOCKQUOTE> 
  <P> 
  <CENTER>
    <HR>
    <p><font face="Arial, Helvetica, sans-serif"><br>
      </font>
      <font face="Arial, Helvetica, sans-serif"> </font>
      </p>
    <p><img src="images/FromBacteriaToBachandBack.jpg" alt="From Bacteria to Bach and Back" width="326" height="455" border="1"></p>
  </CENTER>
  <P align="center"><font size="+2" face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif; font-size: x-large;">From Bacteria to Bach and Back: The Evolution of Minds</font>
    <br>
  <DL>
    <DT>
      <div align="center"><font face="Arial, Helvetica, sans-serif"><FONT SIZE="+1" style="font-family: Arial, Helvetica, sans-serif; font-size: large;"> by Daniel C. Dennett</FONT></font> </div>
    <DT> 
      <CENTER>
        <CENTER>
          <p><font face="Arial, Helvetica, sans-serif" style="font-size: medium">W.W. Norton &amp; Company,  
            2017</font></p>
          <p><font face="Arial, Helvetica, sans-serif" style="font-size: medium">496 pages, hardback </font> </p>
        </CENTER>
      </CENTER>
    <DT> 
      <CENTER>
        <p><font face="Arial, Helvetica, sans-serif" style="font-family: Arial, Helvetica, sans-serif">Review by Jim Walker</font></p>
      </CENTER>
  </DL>
  <HR ALIGN="LEFT">
  <p class="helvetica">The bases for the main theme of Dennett's book consists of ideas and arguments developed over fifty years. The ideas stem from Dennett's published articles, books and lectures on the subject ranging from consciousness&nbsp;to biological and cultural evolution. Each argument is fully fleshed out and&nbsp;presented in such a way as to be understood by lay people. This is what&nbsp;I admire about Dennett. He has the ability to explain very complex and nonintuitave ideas&nbsp;to those who never thought about them before. </p>
  <p class="helvetica">Don't expect a lot of discussion about bacteria or Bach, but rather about the evolutionary history from bacteria to intelligent designers like Bach. It's about how evolution drives prokaryote cells&nbsp;to cooperate with different species of cells to form new kinds of symbiotic cells (<span data-hveid="47" data-ved="0ahUKEwjgqIOy-bLSAhVE5SYKHVOrA34Q4EUILzAB"><em>eukaryotes)</em></span>. Eukaryotes then evolved into multicelled organisms that led to humans, all while using evolved DNA molecules. Then when culture and language evolved, a new kind of replicator emerged that copied words and ideas, which led to useful mind tools that allowed   people like Bach to create beautiful music. Dennett even explains (from researchers working on the origin of life) about how life might have evolved from prebiotic semi-self-replicating molecules, all without the need of  magical or supernatural explanations. Later, much later, primitive communication evolved from primates into language and then finally into human culture.</p>
  <p class="helvetica">The evolution of culture, Dennett explains, comes not from DNA but rather from memes. Memes are pieces of semantic information that are copied from brain to brain. Memes involve ideas, behaviors, styles, symbols, gestures, rituals, etc. that spread from person to person within a culture&nbsp;and eventually between cultures. Dennett takes memes  further, and explains that words themselves are memes, in fact the most powerful memes of all that drive most other memes. The emphasis of words as memes seems to have escaped even Richard Dawkins definition who, after all, created the word meme. I think Dennett deserves credit for this discovery (if, indeed, he is the first to suggest this). Dennett points out that most words are not designed or created by anyone, they just evolved, unconsciously, while using communication tools. It is from the use of words that complex language evolved, which itself comes from bottom-up processes. People don't consciously create language, they simply evolved, similar to the way natural selection drives evolution. </p>
  <p class="helvetica">Unlike other scientists, Dennett is not shy about using the words &quot;design,&quot; or &quot;reasons&quot; in describing evolutionary processes. He explains that design does not always require consciousness or&nbsp;even intelligence, in fact most design comes without a knowing conscious designer. That's how blind evolution works. There are unconscious designs (bottom-up designs) and conscious designs (top-down designs). These unconscious designs, Dennett calls free-floating rationals. &quot;Free-floating rationales&rdquo; are evolutionary processes that &quot;discover&quot; designs that work. He explains, &quot;there were reasons long before there were reason-representers--us.&quot; Reason-representers, conscious intelligent designers, are the <em>end product</em> that comes from billions of years of unconscious design. (This is one reason why God explanations don't work.)</p>
  <p class="helvetica">What top-design did, however, was to accelerate and amplify cultural evolution&nbsp;that far outstrips the slow time spent on biological evolution  (and will probably accelerate biological evolution with the recent advances in gene splicing). Intelligent design&nbsp;comes from bootstrapping competent but unconscious design by using meta language tools (memes) installed into our necktops. This recursive loop creates comprehension--minds. Is this a description of consciousness? Dennett doesn't exactly say, but I suspect that he thinks it's an important step to understanding it. </p>
  <p class="helvetica">I applaud Dennett's recognigition that most of our admiration for intelligent human design is overstated. Although top-down conscious design certainly accelerates cultural evolution, and is no doubt worthy of praise, it is still blind unconscious design that dominates even in the thick of conscious design. As Dennett explains, <em>&quot;pooled</em> comprehension, designers as a group, understand something that none of us individually could fully understand.&quot;&nbsp;</p>
  <p class="helvetica">I have tried to express this very thing in various comments on this website. A Boeing 747, for example, &quot;required many designers. In fact no one single person could have had all the knowledge required to design its entirety. Even inventions usually thought of as designed by one person (light bulb by Edison, the telephone by Bell, etc.) derive from the knowledge accumulated by many persons and many disciplines. Edison, for example, could not have invented the light bulb without prior knowledge of electricity brought about by scientists before him. I defy anyone to give an example of any physical invention created solely by a single inventor without annexing prior knowledge from others.&quot; </p>
  <p class="helvetica">Although this book is not about  consciousness, it does delve into controversial ideas such as qualia&nbsp;(feelings and emotions, the internal and subjective component of sense perceptions, arising from stimulation of the senses by phenomena). In the chapter, <em>Consciousness as an Evolved User-Illusion</em>, Dennett explains that the experience of will&nbsp;is the way our minds portray their operations to us, not their actual operations. In this sense, all of our qualia experiences are useful illusions that evolution has designed for us to help us survive (but in many cases can deceive us into believing in falsehoods). Looking at the desktop on&nbsp;our computers, for example, the images of files and trash cans are useful illusions but they don't tell us anything about the underlying mechanism of electronics and software. Likewise, experiencing colors, tastes, loves, fears, pleasures, etc. are useful but they do not help us to understand the root cause of feelings and emotions. The color red, for example, may <em>correlate</em>  with a frequency of 620-750 nanometer light, but colors don't tell us anything about frequency (it takes science to investigate light frequencies), colors are, however, useful for discriminating between different objects that help us survive (eat the red fruit but not the green ones.). Sweetness may <em>correlate</em> with certain molecules that&nbsp;trigger that taste, but sweetness doesn't tell&nbsp;us&nbsp;anything about chemistry&nbsp;(it takes science to do that). Tastes are useful, however, in that they allow us to discriminate between foods that are good for us and those that aren't. So it goes with all of our qualia. </p>
  <p class="helvetica">Dennett argues that 1st person conscious qualia experiences are useful but they are user-illusions that can't tell us very much about the nature of consciousness. The only way to understand consciousness is to use a 3rd person perspective by using science. Dennett calls this this approach, <em>heterophenomenology</em>. Dennett explains that &quot;heterophenomenolgy is more accurate, more reliable, less vulnerable&nbsp;to illusion than autophenomenolgy, once you control for lying and other forms of noncooperation with the investigation, and you can get a better catalogue of your own experience by subjecting yourself to all the experimental circumstances in which consciousness is studied&quot;. </p>
  <p class="helvetica">Unfortunately, many cognitive scientists are misled by the qualia illusion (such as Thomas Nagel, John Searle, David Chalmers, Colin McGinn, etc.). If you're trying to solve the consciousness problem by using the 1st person perspective, you're forced into the Hard Problem of Consciousness. Of course consciousness will always be a mystery if you take this position. It's like trying to solve how computers work by relying on the desktop user-illusion. If you rely only on the desktop phenomenon, computers will always be a mystery. The only way to understand user-illusions is to investigate how user-illusions work, and that means looking from a 3rd person scientific viewpoint.  </p>
  <p class="helvetica">What Dennett has done in this book is to offer a very reasonable, well thought out explanation of how complex life evolved from simple unconscious bottom-up Darwinian processes into even more complex top-down, culture driven memes that produced us. It is a thesis built on well-informed knowledgable information. Although, some of it is speculative, the speculations are reasonable and offer explanations that are for more probable than anything else ever proposed. For the large part, I agree with Dennett's theory of mind. This is not to say that I don't have criticisms, but my criticisms come not from Dennett's explanations, but rather from what he <em>doesn't</em> explain. And it involves not recognizing the importance of qualia, perhaps <em>the</em> most important part of conscious  evolution (more on this below).</p>
  <p class="helvetica">Richard Dawkins called memes, replicators in his initial defintion of them. However,  memes generally do not replicate themselves. Most memes are replicants (to borrow a term from Blade Runner). Memes are things that have been replicated, not things that replicate themselves. (Note, there are a few memes that are true replicators such as coroprations, internet networks, etc., but most memes, such as words, ideas, fads, etc. have no means to replicate themselves). Dennett recognizes this when he states: &quot;Memes, like viruses, are symbionts dependent on the reproductive machinery of their hosts.&quot; p. 284</p>
  <p class="helvetica">Well what is the reproductive machinery of memes that they depend on? Dennett speculates that there had to have been a preexisting instinct to imitate or copy, which would &quot;pay for itself&quot; by providing some (genetic) fitness benefit to our ancestors. Dennett goes on to speculate about why our  closest ancestors didn't pass on memes: &quot;Chimpanzees and bonobos, for instance, don't exhibit the <strong>interest</strong>, the focused attention, the imitative talent required to kindle the cumulative&nbsp; cultural wildfire that marks&nbsp;us off from the other hominids&quot; p. 284 [bold word, mine] Being interested requires the feeling of curiosity&nbsp;and the feeling of wonder. </p>
  <p class="helvetica"> To pass memes, you need to be <em>interested</em>, to have sense of <em>curiosity</em>, and this could very well serve as the instinct that Dennett talks about. Since being interested and curiosity are <em>feelings</em>, they are part of the dreaded qualia. Could not part of these preexisting instincts, that make up qualia, serve as an important, if not the key mechanism, to the spreading of memes?</p>
  <p class="helvetica">In a discussion about language, Dennett describes, &quot;Other speakers of a language may have the &quot;gift of gab&quot; or more specialized gifts--the power to <strong>persuade</strong>, to <strong>comfort</strong>, to <strong>seduce</strong>, to <strong>amuse</strong>, to <strong>inspire</strong>.&nbsp; p.293 [bold words, mine]&nbsp; The words persuade, comfort, amuse, and inspire are  words that point to emotions. It is difficult for me to understand how human language memes could spread without these emotions. A robot, regardless of how much intelligence it has, can't persuade other robots without the power to comfort, seduce, amuse or inspire,  without  brain mechanisms that produce the qualia of feelings and emotions. Of course robots may spread unconscious memes by other means, but not the way humans do. If I am wrong about this, I want to know why.</p>
  <p class="helvetica">Dennett claims that &quot;both elevated words and other memes into <em>our</em> ontology, our <em>manifest</em> image, opening huge vistas to our inbuilt <strong>curiosity</strong> and permitted the beginning of &quot;top-down&quot; exploration of Design Space.&quot; p. 296. I agree with Dennett. Curiosity is a <em>feeling</em> and part of the experience of qualia. People <em>feel</em> curious, they don't think curiously (although curiosity can lead to thinking about what they are curious about). </p>
  <p class="helvetica">It is hard to imagine how biological top-down meme reproduction could happen without qualia. People gossip, pass on information because it makes them feel <strong>good</strong> to pass on interesting information or to relieve <strong>fearful</strong> feelings&nbsp;by spreading warning memes, or to&nbsp;pass on jokes because they make people <strong>laugh</strong>, or to pass on lying memes because it <strong>satisfies</strong> the greed of con-artists. Each of these requires feelings and emotions. Of course memes can also be spread unconsciously, that don't require qualia, but I think it's important to recognize the role of qualia in the spread of memes&nbsp;that we are aware of, that we are conscious of. </p>
  <p class="helvetica">In the chapter, <em>Consciousness as an Evolved User-Illusion</em>, interestingly, some of the user-illusions he's describing are qualia! Hasn't he admitted that quaila counts as consciousness? Couldn't he have just as well titled that chapter as <em>Consciousness as Evolved Quail</em>a? I don't think there's anything inconsistent about this at all. Dennett thoroughly explains why qualia are illusions, and he indirectly recognizes this evolved illusion as consciousness. Therefore,  qualia counts as, at least in large part, as consciousness! No?</p>
  <p class="helvetica">Dennett says, &quot;we learn about reality via the categories of colors, sounds, aromas, solid objects, sunsets and rainbows, people and their intentions, promises, threats, and assurances, institutions, and artifacts.&quot; p. 366. Note that colors, aromas, intentions (which require desires), etc. are examples of qualia. Dennett goes on to say, &quot;The scientists and philosophers who declare free will a fiction or illusion are right; it is part of the user-illusion of the manifest image. That puts it in the same category with colors, opportunities, dollars, promises, and love...&quot; p. 368. Colors and love are examples of qualia. I think Dennett is right. Qualia&nbsp;are illusions about reality, but so what? So are all our thinking tools. (&quot;The map is not the territory&quot; --Alfred Korzybski) That doesn't take qualia off the table for discussion as examples of consciousness anymore than our thinking tools. After all, Dennett doesn't deny consciousness, it's just that it's not what most people think it is. Qualia does not require mystery juice or supernatural causes, it's just that we don't yet know how the brain produces the qualia illusion. We do know, for example, that color sensations are produced in the back of the brain by the visual area 4, (V4),&nbsp;but we haven't a clue as to how it does it (at least to my knowledge.) If the V4 area is damaged, then there goes your qualia experience of colors. </p>
  <p class="helvetica">Moreover, even though Dennett does not acknowlege the importance of qualia in his books, he made an amazing revelation during a Discussion on the Mind with Daniel Dennett &amp; Stanislas Dehaene). At the end of the discussion he was asked: &quot;How does emotion affect consiousness.&quot; This was his reply:</p>
  <p>&quot;In the human brain, all, <em>all</em> control is ultimately by emotion. It is by the modulation and  competition and negotiation between different affective states and  neuromodualator floods. There's no boss in there, there's no cop that's  prioritizing. What does the prioritizing, what lets you concentrate on  one thing or distracts you, what thrills you or depresses you, this is  what determines what you think about next, not any other sort of master  program. So it means that the idea of the emotionless computer brain is  bad science fiction. </p>
  <p>That's quite a revelation!! If <em>all</em> control is done by emotion, then isn't that important to consciousness? Why hasn't he ever mentioned this in his books and lectures?&nbsp;His fifty years of work on consciousness mostly consists of describing how thinking mechanisms, thinking tools, reasoning, competence, information theory, etc. work, but rarely spends time on&nbsp;feelings and emotions (qualia) or on the brain mechanisms that produce qualia. And when he does discuss qualia, it's always to criticise it from a philosophical point of view. Of course his criticisms are valid&nbsp;(which I agree with) but by not providing an explanation for qualia and the important role it plays in consciousness I think is the reason why people are so skeptical about his work.</p>
  <p>Here's are thought experiments that might illustrate the problem.</p>
  <p>Imagine an advanced robot that&nbsp;is not only more competent in general knowledge than humans but also has comprehension&nbsp;and thinking tools galore. But it has no feelings or emotions. Would we consider this robot conscious? </p>
  <p>Now take a&nbsp;man deep in meditation&nbsp;who has shut down all thoughts and  only has awareness of his sensations&nbsp;(breathing, body temperature, the feel of the wind upon his body, etc.) Would we consider him conscious?</p>
  <p>Now imagine a girl with severe brain damage who has lost the ability to think and reason. She has no comprehension whatsoever about what is around her. But she still has feelings and emotions. She responds to touch, she&nbsp;smiles, laughs, cries, feels pain, etc. Would we consider her conscious?  </p>
  <p>I think most people would recognize that the computer is intelligent but not conscious, the meditator as conscious but not thinking, and the girl as lacking intelligence and comprehension but is, nevertheless, conscious.</p>
  <p>Don't the last two examples&nbsp;show that bare minimum consciousness doesn't require either competence or comprehension? </p>
  <p>It appears to me that in order for something to have at least a bare minimum of consciousness, it must have mechanisms in the brain that produce at least the basic feelings of pleasure, pain, and fear. Note also that the brain mechanisms that produce primitive feelings are located  just above the brain stem, which are among earliest evolved brain networks.&nbsp;Recognizing these qualia circuits could help us catalogue the degrees of consciousness from primitive animal life forms to us. </p>
  <p>We have learned a lot about how humans think and reason. Dennett is the Exemplar of knowledge about thinking and how it evolved over millenniums, but we never learn how feelings and emotions evolved. Computer scientists have even started to build machines that can think and reason. But there has been virtually no advancement&nbsp;of how to build an electronic network that <em>feels</em>. It appears to me that until we understand the mechanism of qualia, we will never be able to fully understand consciousness or ever hope to built a conscious machine.</p>
  <p>When Wilfrid Sellars said to Dan Dennett over a fine bottle of Chambertin: &quot;But Dan, qualia are what make life worth living!&quot; (Consciousness Explained, p.383), frustratingly, Dennett  never gave an answer but I agree with  Sellars; qualia are what makes life worth living, and I suspect Dennett thinks so to, and I don't see how that, in any way, contradicts Dennett's theory of mind other than the lack of explaining the importance of qualia and worthiness it gives to life.</p>
  <p>At the end of the chapter on <em>Consciousness as an evolved user illusion</em>, he ends with, &quot;Thanks to this infestation of culturally evolved symbiont information structures, our brains are empowered to be intelligent designers, of artifacts and of our own lives.&quot; But he fails to thank our emotional and feeling brain structures that allow us to &quot;see&quot; colors, enjoy music and tastes, feel pain, pleasure, love and fear and all the complex emotions they produce. (qualia), the very thing that Dennett admits controls <em>all</em> in the human brain.</p>
  <p>In Dennett's next book I hope he  will discuss the brain's control by emotions and the central importance emotions play in consciousness. </p>
  <p>&nbsp;</p>
  <HR ALIGN="LEFT">
  <p class="helvetica"><strong>A few quotes from the book:</strong></p>
  <p class="helvetica">So there were reasons long before there were reason-representers-- us. The reasons tracked by evolution I have called &quot;free-floating rationales,&quot; a term that has apparently jangled the nerves of some few thinkers, who suspect I am conjuring up ghosts of some sort. p. 50</p>
  <p class="helvetica">Darwin didn't extinguish teleology, he naturalized it, but this verdict is not as widely accepted as it should be, and a vague squeamishness leads some scientists to go overboard avoiding design talk and reason talk. p. 51</p>
  <p class="helvetica">In due course, a valuable variety of comprehension arises out of the instilled competences in these practiced practitioners, so we have good empirical evidence that competence doesn't always depend on comprehension and sometimes is a precondition for comprehension. p. 57</p>
  <p class="helvetica">Comprehension is not the <em>source</em> of competence or the <em>active ingredient</em> in competence; comprehension is <em>composed</em> of competences. p. 94</p>
  <p class="helvetica">An <em>unconscious mind </em>is no longer seen as a &quot;contradiction in terms&quot;; it's the <em>conscious</em> minds that apparently raise all the problems. p.100</p>
  <p class="helvetica">Our minds are <em>in some regards</em> as different from other minds as living things are from non-living things, and finding even one defensible path from our common ancestor with the chimpanzees is a challenging task. p. 149</p>
  <p class="helvetica">...the brain is an information-processor, and information is medium-neutral. p. 157</p>
  <p class="helvetica">...<em>H. sapiens</em> is, so far, the only species on Earth with proper minds, enculturated minds full of thinking tools. p. 171</p>
  <p class="helvetica">Comprehension--our kind of comprehension--is only made possible by the arrival on the scene quite recently of a new kind of evolutionary replicator--culturally transmitted informational entities: memes. p. 175</p>
  <p class="helvetica">Some people cling to the view that consciousness is the big exception, and all-or-nothing property that divides the universe into two utterly disjoint classes: those things it is like something to be, and those that it is not like anything to be (Nagel 1974; Searle 1992; Chalmers 1996; McGinn 1999). I have never encountered a persuasive argument for why this should be so. p. 192</p>
  <p class="helvetica">Language evolved to fit the brain before the brain evolved to better accommodate language. p. 194</p>
  <p class="helvetica">The digitization of phonemes has a profound implication: words play a role in cultural evolution that is <em>similar</em> to the role of DNA in genetic evolution, but unlike the physically identical ladder rungs in the double helix made of Adenine, Cytosine, Guanine, and Thymine, words are not physically identical replicators; they are &quot;identical&quot; only as user-illusion level of the manifest image. Words, one might say, are a kind of <em>virtual</em> DNA, a largely digitized medium that exists only in the manifest image. p. 202</p>
  <p class="helvetica">The fact that changes in cultural features can spread <em>without notice</em> is hard to account for--and hence likely to be overlooked--when one adopts the traditional psychological perspective of ideas and beliefs. The memes perspective provides a valuable corrective to this oversight, but much more important is the way memes can provide an alternative vision of how culture-borne information gets installed in brains <em>without being understood</em>. p. 213</p>
  <p class="helvetica">Language may not be the foundation, but I wouldn't call it the capstone; I would call it the <em>launching pad</em> of human cognition and thinking. p. 260  </p>
  <p class="helvetica">Note: I am <em>not</em> saying that nonhuman animals and human infants are not conscious&nbsp;(I have postponing all discussion of consciousness). If consciousness itself is best seen as admitting of degrees (as I have argued and will defend again here in due course), then we can conceive of varieties of consciousness that are &quot;rich&quot; in some ways and not in others. p. 299</p>
  <p class="helvetica">That is the triumph of the memes invasion: it has turned our brains into minds--<em>our</em> minds--capable of accepting and rejecting the ideas we encounter; discarding or developing them <em>for reasons we can usually express</em>, thanks to the apps installed in our necktops. p. 315</p>
  <p class="helvetica">What I have been arguing, however, is that much of this R&amp;D is, and must be, <em>memetic</em>, not <em>genetic</em> evolution. Long before we had designer brains, we had brains that were acquiring design-without-a-designer in the form of invading memes. pp. 316-317</p>
  <p class="helvetica">Why have there been so few famous female geniuses? Is it genes or&nbsp;memes or a mixture of both? Our present vantage point suggest that the answer will lie more in feature of culture than in cortex--but not by supporting the discredited mantra from the 1960s: boys and girls are &quot;biologically&quot; the same; all differences are due to socialization and other cultural pressures. That is politically correct nonsense. p. 328</p>
  <p class="helvetica">As memes accumulated and became more and more effective at inhabiting their hosts (becoming more helpful or less of a hindrance, or else subjugating their hosts for their own benefit), the manifest image became populated with more and more affordances, more and more opportunities to track, more and more things to do things with, more and more things--words--to use as tools to help keep track of things, and so forth. Some memes were tools, some were toys, some were distractions, some were crippling parasites. They all depended on cultural replication to survive. p. 330</p>
  <p class="helvetica">Cultural evolution has been de-Darwinized by its own products, but its Darwinian ancestry is still very much in evidence, and synathropic, unauthored memes, like the bacteria that outnumber and outweigh us, still surround us every day. p. 331  </p>
  <p class="helvetica">...it is like something to be you <em>because</em> you have been enabled to tell us--or refrain from telling us--what it's like to be you! p. 344</p>
  <p class="helvetica">The problem with the first-person point of view is that it is anchored in the manifest image, not the scientific image, and cannot avail itself of the resources of the scientific image. p. 350</p>
  <p class="helvetica">Collaborating with other investigators on the study of your own consciousness (adopting, if you like, the &quot;second-person point of view&quot;) is the way to take consciousness, as a phenomenon, as seriously as it can be taken. Insisting, in resistance to this, that you know more about your own consciousness just because it's yours, is lapsing into dogma. p. 351</p>
  <p class="helvetica">As I never tire of saying, all the work done by the imagined homunculus in the Cartesian Theater has to be broken up and distributed around (in space and time) to lesser agencies in the brain. p. 353.</p>
  <p class="helvetica">There are structural, chemical properties of glucose--mimicked in saccharine and other artificial sweetners--that cause the sweetness response in our nervous systems, but &quot;the intrinsic, subjective sweetness I enjoy&quot; is not an internal recreation or model of these chemical properties, nor is it a very special property in our non-physical minds that we use to decorate the perceptible things out there in the world. It is no property at all; it is a benign illusion. Our brains have tricked us into having the conviction, making the judgement, that there seems to be an intrinsically wonderful but otherwise undescribable property in some edible things: sweetness. We can recognize it, recall it, dream about it, but we can't describe it; it is ineffable and unanalyzable. p. 356</p>
  <p class="helvetica">The properties of sweetness and cuteness depend on features of our nervous systems and hence are in that limited sense subjective. p. 357</p>
  <p class="helvetica">You might be a zombie, unwittingly taking yourself to have real consciousness with real qualia, but I <em>know</em> that I am not a zombie! No, you don't. The only support for that conviction is the vehemence of the conviction itself, and as soon as you allow the theoretical possibility that there <em>could</em> be zombies, you have to give&nbsp;up your papal authority about your own nonzombiehood. I cannot prove this, yet, but I can encourage would-be consciousness theorists to recognize the chasm created by this move and recognize they can't have it both ways. p. 363</p>
  <p class="helvetica">If we, our <em>selves</em>, were all &quot;just&quot; part of each other's user-illusions, wouldn't that imply that, really, life has no meaning? No. The manifest image that has been cobbled together by genetic evolutionary processes over billions of years, is an extremely sophisticated system of helpful metaphorical renderings of the underlying reality uncovered in the scientific image. It is a user-illusion that we are so adept at using that we take it to be unvarnished reality, when in fact it has many coats of intervening interpretive varnish on it. p. 366</p>
  <p class="helvetica">We won't have a complete science of consciousness until we can align our manifest-image identifications of mental states by their contents with scientific-image identification of the subpersona information structures and events that are causally responsible for generating the details of the user-illusion we take ourselves to operate in. p. 367</p>
  <p class="helvetica">Is it the claim that there are mysteries that <em>no single human mind</em> can comprehend or that there are mysteries that are beyond the <em>pooled</em> comprehension--the idea that <em>we as a group</em> might understand something that none of us individually could fully understand--strikes some people as preposterous, so loyal are they to the ideal of the do-it-yourself intelligent designer, the genius who has it all figured out. p. 375</p>
  <p class="helvetica">If and when Watson ever reaches the level of sophistication where it can enter fully into the human practice of reason-giving and reason-evaluating, it will cease to be&nbsp;merely a tool and become a colleague. And then Watson, not just Watson's creators and maintainers, would be eligible for being considered <em>responsible</em> for its actions. p. 397</p>
  <p class="helvetica">Now we can see that the kind of comprehension AI systems are currently exhibiting--and it is becoming breathtakingly competitive with&nbsp;the best human comprehension--is also parasitic, strictly dependent on the huge legacy of human comprehension that it can tap. p. 398</p>
</BLOCKQUOTE>
<BLOCKQUOTE>
  <DL>
    <DT> 
    <HR ALIGN="LEFT">    
    <dt><font face="Arial, Helvetica, sans-serif"><br>
      </font></dt>
  </DL>
  <p class="helvetica"><font face="Arial, Helvetica, sans-serif">HOME</font> </p>
  <P><font face="Arial, Helvetica, sans-serif"><FONT SIZE="-1"><IMG SRC="images/amazon2.gif" WIDTH="88" HEIGHT="31" ALIGN="BOTTOM" BORDER="0" NATURALSIZEFLAG="3"></FONT> </font>   
</BLOCKQUOTE>
<font face="Arial, Helvetica, sans-serif">
<script type="text/javascript" src="http://www.assoc-amazon.com/s/link-enhancer?tag=freethinkers"></script>
</font>
<noscript>
<font face="Arial, Helvetica, sans-serif"><img src="http://www.assoc-amazon.com/s/noscript?tag=freethinkers" alt=""></font><font face="Arial, Helvetica, sans-serif"></font>
</noscript>

<noscript>
</noscript>
</BODY>
</HTML>
