    <p>As today we are headed north to spend Christmas with the family,
      Jake Weber, the invaluable senior researcher of our premium
      <strong>Compelling Investments <em>Quantified</em> (CIQ)</strong>
      service has kindly offered to fill in for this edition.

    <p>In his article, he delves into the economic and political
      challenges President Trump is facing and scans for any red flags
      flapping in the breeze.

    <p>On the topic of CIQ, we maintain a laser-like focus on finding
      great companies that sell below their intrinsic value&mdash;the
      only proven path to successful long-term investment.

    <p>In fact, of the six stocks we recommended since launching in
      June of 2016, only one is in the red, down 8%. However, as we are
      long-term investors and our reasons for owning the high-yielding
      stock have not changed, its short-term pullback doesn&rsquo;t
      concern us.

    <p>The other stocks in our CIQ portfolio have returned 1%, 16%,
      22%, and 31%. Our most recent recommendation, made at the end of
      November, is already up 15%.

    <p>If you&rsquo;re looking for a more predictable approach to
      investing, one that takes emotion out of the equation and ensures
      you&rsquo;ll sleep well at night, you owe it to yourself to take
      a risk-free trial subscription to <strong>Compelling Investments
      <em>Quantified</em></strong>&mdash;click here for details.

    <p>And with that biased but fully guaranteed recommendation,
      I&rsquo;ll now turn the page over to Jake.

    <p><em>David Galland</em>

    <p><strong>By Jake Weber</strong>

    <p>It took only nine days in office for President Obama to be
      nominated for the Nobel Peace Prize.

    <p>Less than nine months later, the Norwegian Nobel Committee
      followed through and awarded Obama the Nobel Prize for &ldquo;his
      extraordinary efforts to strengthen international
      diplomacy.&rdquo; That, despite the fact Obama had no significant
      diplomatic accomplishments.

    <p>Likewise, the markets seem to have prematurely greeted
      Trumponomics as an outstanding success. US stock indices continue
      to make all-time highs, the dollar is charging ahead, and bond
      markets are being trashed.

    <p>Furthermore, the latest Fund Manager Survey by Bank of America
      shows growth and inflation expectations at the second-highest
      level since 2004.

    <p align=center><img alt=""
      src="http://ggc-gg-images.s3.amazonaws.com/uploads/newsletters/Image_1_20161216_TPP.jpg"
      style="width: 550px; height: 298px;">

    <p>In short, US equity markets are already factoring in
      Trump&rsquo;s draining of the swamp, his implementation of
      regulatory reforms, and the rollback of poor policies that trip
      up the American economy, while bond markets are pricing in higher
      inflation.

    <p>There&rsquo;s just one thing: Trump hasn&rsquo;t done anything
      yet. We&rsquo;re still weeks away from his inauguration, and
      details of his economic plans remain scarce.

    <p>No matter, any potential positives for economic growth (lower
      taxes, deregulation, and fiscal stimulus) are being accepted at
      face value, while the potential negatives (soaring deficits,
      tariffs, and trade wars) are being ignored.

    <p>After eight years and 100,000 pages of new regulations during
      the Obama administration, it&rsquo;s understandable why the
      markets are cheering for change. There are reasons to be
      optimistic. But as an investor, I&rsquo;m not ready to give Trump
      the Nobel Prize for Economics just yet. &nbsp;

    <p>There&rsquo;s little doubt Trump will shake up the status quo of
      DC politics. For evidence, look no further than the
      @realDonaldTrump Twitter feed. But he&rsquo;s going to have to
      use all of his skills in the <em>art of the deal</em> to get
      things done.

    <p>For example, earlier this year the Republican-majority House
      passed a budget blueprint calling for deficit reductions of $7
      trillion over the next 10 years, primarily through spending cuts.

    <p>Against that blueprint, we have Trump&rsquo;s proposed policy
      changes. The Committee for a Responsible Federal Budget, a
      nonpartisan think tank, estimates those changes, in particular
      tax cuts, could increase the deficit by $5.3 trillion over the
      next decade.

    <p>Speaker of the House Paul Ryan and Senate Majority Leader Mitch
      McConnell have both indicated that tax reform should be
      &ldquo;deficit neutral.&rdquo; Moving forward with the tax cuts
      will therefore require the assumption that they will trigger
      enough economic growth to offset the projected budgetary hit.

    <p>Trump&rsquo;s team will have to successfully argue that point.

    <p>Deregulation is perhaps the most encouraging, pro-growth policy
      priority Trump and most Republicans can agree on. But it&rsquo;s
      far harder to repeal a law than it is to write a new one. The
      process of repealing Obamacare could take years and, according to
      the Congressional Budget Office (CBO), could add $353 billion to
      the deficit over the next decade.

    <p>It&rsquo;s also going to be hard to get deficit hawks on board
      with a trillion-dollar infrastructure plan, even if it is for the
      most part privately financed and includes significant tax
      incentives.

    <p>Then there&rsquo;s Trump&rsquo;s steady threats of imposing
      tariffs. History has shown that tariffs are inflationary as they
      raise prices of imported goods, allowing domestic industries to
      follow suit. Of course, should the new president follow through
      with tariffs, it will almost certainly lead to a tit-for-tat
      trade war with trading partners.

    <p>Trump the businessman was a huge fan of using debt to build his
      empire, and President-elect Trump appears to disregard the
      deficit entirely. Every economic policy proposal put forth by
      Trump seems to have inflationary implications.

    <p>In that light, the bond market&rsquo;s sell-off makes perfect
      sense. After all, inflation is the number-one enemy of bonds.

    <p>However, it looks like the markets assume that Trump will be
      able to force his policies through Congress, and do so without
      consequences.

    <p>The consensus view is that the era of boosting growth with loose
      monetary policy is giving way to a new era of expansive fiscal
      policy. Most of the proposed changes should boost inflation and
      maybe growth too, which should send interest rates higher. But
      higher interest rates pose a major problem to the mountain of
      debt overhanging the US economy. &nbsp;

    <p>Federal debt is already $20 trillion&mdash;excluding the massive
      unfunded entitlement obligations that will balloon over the next
      decade as more Baby Boomers reach retirement age. 6% of the 2015
      federal budget was used to pay interest on federal debt.
      That&rsquo;s with historically low interest rates and the Federal
      Reserve owning 20% of the outstanding debt (interest paid to the
      Fed is remitted back to the Treasury).

    <p>If the interest rate on the 3-month Treasury bill rose from 0.5%
      today to 3.2% over the next 10 years, and the 10-Year Treasury
      bond from 2.6% to 4.1% over the same period, the CBO projects the
      interest expense could more than double&mdash;to 13.1% of federal
      spending.

    <p>That projection was made before taking into consideration any of
      Trump&rsquo;s plans to boost federal spending while cutting
      taxes.

    <p align=center><img alt=""
      src="http://ggc-gg-images.s3.amazonaws.com/uploads/newsletters/Image_2_20161216_TPP.jpg"
      style="width: 550px; height: 312px;">

    <p>Then there are the state and local governments, which
      collectively are $3 trillion in debt&mdash;excluding trillions
      more in unfunded pension obligations.

    <p>Household debt sits at $14.6 trillion and business debt at $13.4
      trillion, a 25% increase from 2008. Private debt alone accounts
      for 150% of GDP, a dangerous level.

    <p>American households have not deleveraged since the financial
      crisis, and corporate America has taken advantage of low interest
      rates to add significantly more leverage. In many cases,
      companies tacked on more debt for share buybacks to juice
      earnings rather than make productive capital investment.

    <p>An early-2016 report by Standard &amp; Poor&rsquo;s estimated
      that US companies have $4.1 trillion of debt coming due in the
      four short years between 2016 and the end of 2020. If the recent
      trend for higher interest rates continues, rolling over that
      corporate debt will be a challenge.

    <p>Stock market bulls are placing firm bets that tax cuts and
      stimulus spending will boost earnings more than higher interest
      rates will lower them. And interest rates are on the rise in
      anticipation of economic growth and inflation.

    <p>Yet there is still a lot of ground to be covered before tax cuts
      and stimulus spending are passed into law and begin to have their
      (hopefully) positive impact on the economy.

    <p>Inflation <em>expectations</em> have been the main driver behind
      the spike in rates&mdash;not actual inflation.

    <p>The Fed&rsquo;s preferred inflation gauge is the annual change
      in the price index for personal consumption expenditures (PCE),
      which is still running below the 2% inflation target.

    <p align=center><img alt=""
      src="http://ggc-gg-images.s3.amazonaws.com/uploads/newsletters/Image_3_20161216_TPP.jpg"
      style="width: 550px; height: 397px;">

    <p>As you can see in the chart, PCE has been on the rise, but that
      is mostly a result of year-over-year increases in still
      historically cheap oil prices. Core PCE, which excludes the more
      volatile food and energy prices, has had a much smaller increase
      this year and is also running below the Fed&rsquo;s target.

    <p>On the other hand, inflation expectations (the light-blue line
      in the chart below) have spiked above 2%. Following suit, the
      10-Year Treasury bond yield has jumped as well.

    <p align=center><img alt=""
      src="http://ggc-gg-images.s3.amazonaws.com/uploads/newsletters/Image_4_20161216_TPP.jpg"
      style="width: 550px; height: 397px;">

    <p>Inflation expectations may be justified as Trump appears intent
      on jumpstarting inflation. However, interest rates may have gone
      too far, too fast. If rates stay elevated before the tax cuts and
      stimulus spending kicks in, the US could slip back into a
      recession. In which case the 35-year secular bull market in bonds
      may not be over.

    <p>Either way, Trump is going to face many challenging decisions in
      his quest to stimulate growth. Given the massive overhang of debt
      and his plans to add more, the headwinds from higher interest
      rates pose a significant threat.

    <p>The Federal Reserve hiked rates by a quarter point this week,
      and the projected path was raised from two rate hikes to three by
      the end of 2017. That projection needs to be taken with a grain
      of salt. At the beginning of both 2015 and 2016, the Fed
      projected four hikes, but ultimately only hiked once during each
      year, in December.

    <p>Significantly, by projecting three rather than four hikes in its
      latest meeting, the Fed is actually entering 2017 more dovish
      than it has been at the start of the last two years.

    <p align=center><img alt=""
      src="http://ggc-gg-images.s3.amazonaws.com/uploads/newsletters/Image_5_20161216_TPP.jpg"
      style="width: 400px; height: 353px;">

    <p>Interestingly, the Fed only modestly adjusted real GDP growth up
      by 0.1% in 2017 and 2019. And its projections for inflation and
      core inflation were unchanged from 2017 onward.

    <p>For years, the Fed has begged for fiscal stimulus to complement
      its loose monetary policy. With the economy finally poised to
      receive a dose of Keynesian government spending, the Fed is
      itching to normalize rates.

    <p>The Fed wants higher rates so that when the next recession
      threatens, it&rsquo;ll have enough ammo in its war chest to fend
      it off. However, even a modest rise in interest rates could be
      the thing that triggers a recession. It&rsquo;s a catch-22.

    <p>Of course, the Fed can only control shorter-term interest rates
      with its normal operations. There are many determinants of
      longer-term interest rates, but growth and inflation expectations
      are probably the most important.

    <p>Right now, the euphoric markets think both will be instantaneous
      with Trump&rsquo;s inauguration. Until we see something more
      tangible, cautious optimism is probably the more appropriate
      stance for investors to take on Trumponomics.

    <p>If you&rsquo;re holding long bonds, your portfolio has already
      experienced a lot of pain since the election. Now that the
      December Fed hike is out of the way, I wouldn&rsquo;t be
      surprised to see interest rates pull back from here. It&rsquo;s
      probably a good idea to use any pullback to reduce your exposure
      to long rates as we wait to see what Trump can actually do.

    <p>If Trump can quickly push through his economic agenda and cooler
      heads prevail on the trade front, then the path of least
      resistance will be higher for interest rates.

    <p>In this optimistic view, strong economic growth could overcome
      the headwinds from the debt overhang. The Fed would still
      probably err on the side of caution. Allowing inflation to run
      ahead of 2% would help relinquish some of the national debt
      burden.

    <p>However, it&rsquo;s more likely that Trump&rsquo;s agenda faces
      pushback from both sides of the aisle. If the last eight years
      have taught us anything, it&rsquo;s that there are many creative
      ways to hold up action in DC. That&rsquo;s not always a bad thing
      as government meddling is usually counterproductive. But I have a
      sneaking suspicion that we haven&rsquo;t heard the word
      &ldquo;filibuster&rdquo; for the last time.

    <p>In that case, the stock market rally and the bond market rout
      have both probably overshot.

    <p>Of course, no one can predict how this will play out. The best
      we can do is wait and see. Having ample cash on the sidelines may
      be the best strategy.

    <p align=center><img alt=""
      src="http://ggc-gg-images.s3.amazonaws.com/uploads/newsletters/Image_6_20161216_TPP.jpg"
      style="width: 550px; height: 398px;">

    <p>Trends in interest rates tend to stay in motion for years if not
      decades, so there will be enough time to switch if a new secular
      bear market in interest rates emerges in earnest.

    <p>(No investment strategy is bulletproof, but you can tilt the
      odds in your favor by focusing your attention on buying great
      companies when they fall to a level of deep undervaluation. How
      to do just that is explained in some detail in our free report,
      <strong><em>Dimes for Dollars&mdash;The 3 Most Powerful
      Strategies to Buy Low and Sell High</em></strong>.
      <strong><u>Click here to get your free copy now</u></strong>.)

    <p><strong>Next Time, Try Handing the Terrorist a Participation
      Medal</strong>. The modern-day separationist movements continue
      trying to outdo themselves in the Olympics of inanity&hellip; or
      maybe even insanity. In the latest attempt at the gold, the Ohio
      State University <em>Coalition for Black <s>Separation</s>
      Liberation</em> held a rally at which they read out a list of
      non-white men killed by the police.

    <p>Among the victims on the list was poor <strong>Abdul Razak Ali
      Artan</strong>, the jihadist who just a couple of weeks ago
      plowed his car into a group of students, then embarked on a
      stabbing spree, wounding 11 people.

    <p>Fortunately, or I guess &ldquo;unfortunately&rdquo; if you
      belong to the aforementioned coalition, a fast-thinking
      university police officer committed the politically incorrect act
      of sending Abdul off to meet his 72 virgins.
